@tailwind base;

@tailwind components;

@tailwind utilities;

.hero {
	background-image: url(https://www.prattlibrary.org/img/books.jpeg);
}

.module {
	width: 250px;
	margin: 0 0 1em 0;
	overflow: hidden;
}

.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}
